<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    {% block head %} {% endblock %}
</head>
<body>
<div class="navbar">
    <a href="/">CALCULATOR</a>
    <a href="/F1_Layout">DOTCOMBUBBLE</a>
    <a href="/F2_Layout">ETHERNET</a>
    <a href="/oops">OOPS</a>
</div>
{% block body %} {% endblock %}
</body>
</html>